.container {
    display: flex;
    width: 520px;
}

.display {
    display: flex;
    width: 510px;
    gap: 10px;
    margin: 20px;
}

body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
